[Unit]
Description=rabbitmq-exporter
Documentation=https://github.com/Vocalo/rabbitmq_exporter
After=multi-user.target

[Service]
Type=idle
EnvironmentFile=/etc/default/rabbitmq-exporter
ExecStart=/opt/rabbitmq_exporter-0.29.0.linux-amd64/rabbitmq_exporter

[Install]
WantedBy=multi-user.target
